{% extends 'base.html' %}
{% load static %}

{% block title %}TechStore - Магазин компьютерной техники{% endblock %}

    {% block content %}
        <section class="hero">
            <div class="container">
                <h1>Добро пожаловать в TechStore!</h1>
                <p>Современные комплекующие и периферия по лучшим ценам</p>
                <a href="#" class="btn btn-primary">Перейти в каталог</a>
            </div>
        </section>

        <!-- Секция с товарами -->
         <section class="featured-products">
            <div class="container">
                <h2>Популярные товары</h2>
                <div class="product-grid">
                    <!-- Здесь будут карточки товаров -->
                    {% for product in products %}
                     <div class="product-card">
                        <a href="{% url 'product_detail' product.slug %}" class="product-card-main-link">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            <h3>{{ product.name }}</h3>
                        </a>
                        <p class="price">{{ product.price | stringformat:".0f" }} ₽</p>
                        <button class="btn btn-secondary">В корзину</button> 
                     </div>
                    {% endfor %}
                </div>
            </div>
         </section>
    {% endblock %}