{% extends 'base.html' %}
{% load static %}

{% block title %}{{product.name}} - TechStore{% endblock %}

    {% block content %}
        <section class="product-detail-section">
            <div class="container product-detail-container">
                <div class="product-image-gallery">
                    <img src="{{ product.image.url }}" alt="названия изображений">
                </div>
                <div class="product-info">
                    <h1>{{ product.name }}</h1>
                    <p class="product-detail-price">{{ product.price | stringformat:".0f" }} ₽</p>
                    <p class="stock-status">
                        {% if product.stock > 0 and product.is_available %}
                            <span class="in-stock">В наличии</span>
                        {% else %}
                            <span class="out-of-stock">Нет в наличии</span>
                        {% endif %}
                     </p>
                    <div class="description">
                        <h3>Описание</h3>
                        <p>{{ product.description }}</p>
                    </div>
                    <button class="btn btn-primary btn-lg">Добавить в корзину</button>
                </div>
            </div>
        </section>
    {% endblock %}

