{% extends 'base.html' %}
{% load static %}

{% block title %}Товары в категории:{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1></h1>
        </div>

        <section class="category-products">
                <div class="product-grid">
                        <div class="product-card">
                            <a href="" class="product-card-main-link">
                                    <img src="" alt="">
                                <img src=" " alt="Нет изображения"> 
                                <h3></h3>
                            </a>
                            <p class="price"> ₽</p>
                            <button class="btn btn-secondary">В корзину</button>
                        </div>
                </div>
                <p class="empty-category-message">В этой категории пока нет товаров.</p>
        </section>
    </div>

{% endblock %}